<div class="row">
    <div class="col">
        <input #term type="text" (keyup)="search(term.value)" class="form-control" placeholder="Search Term">
    </div>
</div>

<div class="card-columns m-5">
    <div *ngFor="let artist of artists" class="card">
        <a [href]="artist.external_urls.spotify" target="_blank"><img [src]="artist.images | noimage" class="card-img-top" [alt]="artist.name"></a>
        <div class="card-body">
            <h5 class="card-title">{{ artist.name }}</h5>
            <p class="card-text">
                <span *ngFor="let genre of artist.genres" class="badge badge-pill badge-primary">{{ genre }}</span>
            </p>
        </div>
    </div>
</div>